{% extends 'task/base.html' %}
{% load static %}

{% block content %}

<h3>To do</h3>

<form  method="POST" action="/">
    {% csrf_token %}
    {{form.title}}
    <input type="submit" value="Create">
</form>

{% for task in task %}

<div>
    <input class="form-check-input" type="checkbox" id="check1" name="option1" {% if task.complete == True %} checked {% endif %}>
    {% if task.complete == True %}
        <strike>{{task}}</strike>
    {% else %}
        <span>{{task}}</span>
    {% endif %}
    <a href="{% url 'update_task' task.id %}">Update</a>
    <a href="{% url 'delete_task' task.id %}">Delete</a>
</div>

{% endfor %}

{% endblock  %}